@model KupiBiciklVM
@{
    ViewData["Title"] = "Kupi Bicikl";
}

<h2 class="page-title text-md-center">@Model.Bicikl.PuniNaziv</h2>
<p class="page-subtitle text-md-center">kratki opis</p>
<div class="row product-carousel">
    <div class="col-md-6 col-md-push-3 col-sm-12 col-xs-12">
        <div id="product-image-carousel" class="product-image owl-carousel owl-theme carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <a href="#">
                        @if (Model.Bicikl.Slika == null || Model.Bicikl.Slika.Length < 1000)
                        {
                            <img src="~/images/default_FP.png" id="SlikaPreview" style="max-width: 400px" />
                        }
                        else
                        {
                            <img src="data:image/png;base64,@Convert.ToBase64String(Model.Bicikl.Slika)" alt="@Model.Bicikl.PuniNaziv" class="img-responsive" style="max-width: 400px" />
                        }
                    </a>
                </div><!-- /.item -->
            </div><!-- /.carousel-inner -->
        </div><!-- /.product-image-carousel -->
    </div><!-- /.col-md-6 -->
    <div class="col-md-3 col-md-pull-6 col-sm-6 col-xs-6">
        @*<a class="left carousel-control" href="#product-image-carousel" data-slide="prev">
                <span data-icon="&#x34;"></span>
            </a>*@
    </div><!-- /.col-md-3 -->
    <div class="col-md-3 col-sm-6 col-xs-6">
        @*<a class="right carousel-control" href="#product-image-carousel" data-slide="next">
                <span data-icon="&#x35;"></span>
            </a>*@
    </div><!-- /.col-md-3 -->
</div><!-- /.product-carousel -->
<div class="row product-detail">
    <div class="col-md-6">
        <div class="panel-group" id="product-detail-accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-parent="#product-detail-accordion" href="#collapseDescription">
                            Opis
                            <span data-icon="&#x50;" class="expand pull-right"></span>
                            <span data-icon="&#x4f;" class="contract pull-right"></span>
                        </a>
                    </h3><!-- /.panel-title -->
                </div><!-- /.panel-heading -->
                <div id="collapseDescription" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul class="list-kybully uppercase">
                            <li>Sed do eiusmod tempor incididunt ut labore et dolore</li>
                            <li>Sed do eiusmod tempor incididunt ut labore et dolore</li>
                            <li>Sed do eiusmod tempor incididunt ut labore et dolore</li>
                            <li>Sed do eiusmod tempor incididunt ut labore et dolore</li>
                        </ul>
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
                    </div><!-- /.panel-body -->
                </div><!-- /.panel-collapse -->
            </div><!-- /.panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-parent="#product-detail-accordion" href="#collapseShipping" class="collapsed">
                            Shipping
                            <span data-icon="&#x50;" class="expand pull-right"></span>
                            <span data-icon="&#x4f;" class="contract pull-right"></span>
                        </a>
                    </h3><!-- /.panel-title -->
                </div><!-- /.panel-heading -->
                <div id="collapseShipping" class="panel-collapse collapse">
                    <div class="panel-body text-justify">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div><!-- /.panel-body -->
                </div><!-- /.panel-collapse -->
            </div><!-- /.panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-parent="#product-detail-accordion" href="#collapseFeatures" class="collapsed">
                            Features
                            <span data-icon="&#x50;" class="expand pull-right"></span>
                            <span data-icon="&#x4f;" class="contract pull-right"></span>
                        </a>
                    </h3><!-- /.panel-title -->
                </div><!-- /.panel-heading -->
                <div id="collapseFeatures" class="panel-collapse collapse">
                    <div class="panel-body text-justify">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div><!-- /.panel-collapse -->
            </div><!-- /.panel-default -->
        </div><!-- /.panel-group -->
    </div>

    <div class="col-md-6">
        <h3 class="section-title text-md-center">Kupi Online</h3>
        <div class="order-box">
            <form id="buy_online_form">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        @if (Model.KolicinaNaStanju > 0)
                        {

                            <div class="form-group clearfix">
                                <div class="row">
                                    <div style="display:inline-block" class="product-quantity-container">
                                        <label for="qty" class="control-label">Količina</label>
                                        <select name="qty" id="qty" class="form-control selectpicker">
                                            @for (int i = 1; i <= Model.KolicinaNaStanju; i++)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group form-actions" style="display:inline-block; margin-bottom: 0; vertical-align: bottom">
                                        <button class="btn btn-lg btn-add-to-cart btn-primary btn-block" type="submit">
                                            <img src="/assets/images/icon-cart.png" alt="" class="icon-btn" /> Dodaj u košaricu
                                        </button>
                                    </div>

                                </div><!-- /.row -->
                            </div><!-- /.form-group -->
                        }
                        else
                        {
                            <label for="qty" class="control-label"><strong>Proizvod trenutno nije na stanju.</strong></label>
                        }

                    </div><!-- /.col-md-7 -->
                    @*<div class="col-md-7 col-sm-7 col-xs-12">
                        </div>*@<!-- /.col-md-7 -->


                </div><!-- /.row -->
            </form>
        </div><!-- /.order box -->
    </div>
</div><!-- /.product detail -->

<script>
    $('#buy_online_form').submit(function (event) {
        event.preventDefault();

        var bicikl_id = @Model.Bicikl.BiciklId;
        var kolicina = parseInt($('#qty').val());

        $.ajax({
            method: 'POST',
            url: '/Klijent/Bicikl/KupiBicikl/' + bicikl_id,
            data: { kolicina: kolicina },
            statusCode: {
                "200": function () {

                    /*$.get('/Klijent/Bicikl/KorpaStavke', function(data) {
                        $('.myCart-modal-lg .modal-body').html(data);

                        $(".myCart-modal-lg").modal("show");
                    });*/

                    window.location.href = '/Klijent/Korpa/Stavke';
                },
                "404": function () {
                    alert('Proizvod nije pronađen')
                },
                "400": function () {
                    alert('Proizod nije na stanju u traženoj količini')
                },
            }
        });
    })
</script>