@model OdaberiTerminVM
@{
    ViewData["Title"] = "Odaberi termin";
}

<h2 class="page-title text-md-center">@Model.Servis.Naziv</h2>
<p class="page-subtitle text-md-center">kratki opis</p>
<div class="row product-carousel">
    <div class="col-md-6 col-md-push-3 col-sm-12 col-xs-12">
        <div id="product-image-carousel" class="product-image owl-carousel owl-theme carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <a href="#">
                        @if (true)
                        {
                            <img src="~/assets/images/default_FP.png" id="SlikaPreview" style="max-width: 400px" />
                        }
                        @*else
                            {
                                <img src="data:image/png;base64,@Convert.ToBase64String(Model.Bicikl.Slika)" alt="@Model.Bicikl.PuniNaziv" class="img-responsive" style="max-width: 400px" />
                            }*@
                    </a>
                </div><!-- /.item -->
            </div><!-- /.carousel-inner -->
        </div><!-- /.product-image-carousel -->
    </div><!-- /.col-md-6 -->
    <div class="col-md-3 col-md-pull-6 col-sm-6 col-xs-6">
        @*<a class="left carousel-control" href="#product-image-carousel" data-slide="prev">
                <span data-icon="&#x34;"></span>
            </a>*@
    </div><!-- /.col-md-3 -->
    <div class="col-md-3 col-sm-6 col-xs-6">
        @*<a class="right carousel-control" href="#product-image-carousel" data-slide="next">
                <span data-icon="&#x35;"></span>
            </a>*@
    </div><!-- /.col-md-3 -->
</div><!-- /.product-carousel -->
<div class="row product-detail">
    <div class="col-md-6">
        <div class="panel-group" id="product-detail-accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-parent="#product-detail-accordion" href="#collapseDescription">
                            Opis
                            <span data-icon="&#x50;" class="expand pull-right"></span>
                            <span data-icon="&#x4f;" class="contract pull-right"></span>
                        </a>
                    </h3><!-- /.panel-title -->
                </div><!-- /.panel-heading -->
                <div id="collapseDescription" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p>@Model.Servis.Opis</p>
                    </div><!-- /.panel-body -->
                </div><!-- /.panel-collapse -->
            </div><!-- /.panel-default -->

        </div><!-- /.panel-group -->
    </div>

    <div class="col-md-6">
        <h3 class="section-title text-md-center">Rezerviši termin</h3>
        <div class="order-box">
            <form id="buy_online_form">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">


                        <div class="form-group clearfix">
                            <div class="row">

                                <div style="display:inline-block" class="product-quantity-container">
                                    <label for="qty" class="control-label">Broj bicikala</label>
                                    <input name="qty" id="qty" type="number" min="1" max="4" step="1" required value="1" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div style="display:inline-block" class="product-quantity-container">

                                    <label for="qty" class="control-label">Termin</label>
                                    <input type="text" id="odabir-termina" class="form-control" placeholder="Odaberite datum" required readonly>
                                    <script>
                                        $(function () {
                                            var disabledDays = [0];

                                            const today = new Date()
                                            const tomorrow = new Date(today)
                                            const in3months = new Date(today)
                                            tomorrow.setDate(tomorrow.getDate() + 1)
                                            tomorrow.setHours(0, 0, 0, 0)

                                            in3months.setDate(tomorrow.getDate() + 90)
                                            in3months.setHours(0, 0, 0, 0)

                                            $('#odabir-termina').datepicker({
                                                language: 'en',
                                                minDate: tomorrow,
                                                maxDate: in3months,
                                                onRenderCell: function (date, cellType) {
                                                    if (cellType == 'day') {
                                                        var day = date.getDay(),
                                                            isDisabled = disabledDays.indexOf(day) != -1;
                                                        return {
                                                            disabled: isDisabled
                                                        }
                                                    }
                                                },

                                                onSelect: function (datum) {

                                                    var servis_id = @Model.Servis.ServisId;
                                                    var kolicina = parseInt($('#qty').val());
                                                    var datum_parsed = new Date(datum);

                                                    $.ajax({
                                                        method: 'POST',
                                                        url: '/Klijent/Servis/DostupniTermini/' + servis_id,
                                                        data: { Datum: datum, Kolicina: kolicina },
                                                        complete: function (xhr) {
                                                            $('#satnica').empty();

                                                            var termini = xhr.responseJSON;
                                                            if (termini.length == 0) {
                                                                $('#satnica').append('<option value="">Nema dostupnih termina</option>');
                                                                return;
                                                            }

                                                            for(var i in termini)
                                                                $('#satnica').append('<option value="' + termini[i] + '">' + termini[i] + '</option>');

                                                        }
                                                    });


                                                },
                                                autoClose: true
                                            })
                                        });
                                    </script>

                                    <select class="form-control" id="satnica" required>
                                        <option value="">Odaberite termin</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-actions" style="display:inline-block; margin-bottom: 0; vertical-align: bottom">
                                <button class="btn btn-lg btn-add-to-cart btn-primary btn-block" type="submit">
                                    <img src="/assets/images/icon-cart.png" alt="" class="icon-btn" /> Dodaj u košaricu
                                </button>
                            </div>

                        </div><!-- /.row -->
                    </div><!-- /.form-group -->
                    @*<div class="col-md-7 col-sm-7 col-xs-12">
                        </div>*@<!-- /.col-md-7 -->


                </div><!-- /.row -->
            </form>
        </div><!-- /.order box -->
    </div>
</div><!-- /.product detail -->

<script>
    $('#buy_online_form').submit(function (event) {
        event.preventDefault();

        var servis_id = @Model.Servis.ServisId;
        var kolicina = parseInt($('#qty').val());
        var datum = $('#odabir-termina').val();
        var datum_parsed = new Date(datum);

        $.ajax({
            method: 'POST',
            url: '/Klijent/Servis/OdaberiTermin/' + servis_id,
            data: { Datum: datum, Kolicina: kolicina },
            statusCode: {
                "200": function () {
                    window.location.href = '/Klijent/Servis/PotvrdaRezervacijeTermina/' + servis_id + '/?Datum=' + datum + '&Kolicina=' + kolicina;
                },
                "404": function () {
                    alert('Servis nije pronađen')
                },
                "422": function () {
                    alert('Forma nije ispravno popunjena.')
                },
                "400": function () {
                    alert('Nema dostupnih termina za odabrani dan.')
                },
            }
        });
    })

    $('#odabir-termina').change(function () {
        alert($(this).val());
    });
</script>