@model Model
@{
    ViewData["Title"] = (Model.ModelId == 0 ? "Dodaj" : "Uredi") + " model";
    var listProizvodjac = Context.GetEntitySelectList<Proizvodjac>("ProizvodjacId", "Naziv");
    var listMaterijalOkvira = Context.GetEntitySelectList<MaterijalOkvira>("MaterijalOkviraId", "Naziv");
    var listStarosnaGrupa = Context.GetEntitySelectList<StarosnaGrupa>("StarosnaGrupaId", "Naziv");
    var listVelicinaOkvira = Context.GetEntitySelectList<VelicinaOkvira>("VelicinaOkviraId", "Naziv");

}

<h2>@ViewData["Title"]</h2>


<form action="/Admin/Model/Snimi" method="post">
    @Html.HiddenFor(x => x.ModelId)
    <table style="width:400px">
        <tbody>
            <tr>
                <td>Naziv:</td>
                <td>@Html.TextBoxFor(x => x.Naziv, new { @class = "form-control", @style = "width: 200px;" })</td>
                <td>@Html.ValidationMessageFor(x => x.Naziv)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Proizvodjac)</td>
                <td>@(Html.DropDownListFor(x=>x.ProizvodjacId, listProizvodjac, "Odaberite"))</td>
                <td>@Html.ValidationMessageFor(x => x.ProizvodjacId)</td>
            </tr>


         


            <tr>
                <td>@Html.LabelFor(x => x.SpolBicikl)</td>
                <td>@Html.DropDownListFor(x => x.SpolBicikl, DropdownHelper.GetEnumSelectList<SpolBicikl>(), "Odaberite")</td>
                <td>@Html.ValidationMessageFor(x => x.SpolBicikl)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Tip)</td>
                <td>@Html.DropDownListFor(x => x.Tip, DropdownHelper.GetEnumSelectList<Tip>(), "Odaberite")</td>
                <td>@Html.ValidationMessageFor(x => x.Tip)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.MaterijalOkvira)</td>
                <td>@(Html.DropDownListFor(x=>x.MaterijalOkviraId, listMaterijalOkvira, "Odaberite"))</td>
                <td>@Html.ValidationMessageFor(x => x.MaterijalOkviraId)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Suspenzija)</td>
                <td>@Html.DropDownListFor(x => x.Tip, DropdownHelper.GetEnumSelectList<Suspenzija>(), "Odaberite")</td>
                <td>@Html.ValidationMessageFor(x => x.Suspenzija)</td>
            </tr>
            <tr>
                <td>Broj brzina:</td>
                <td>@Html.TextBoxFor(x => x.Brzina, new { @class = "form-control" })</td>
                <td>@Html.ValidationMessageFor(x => x.Brzina)</td>
            </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-success">Snimi</button>
</form>
