@model PrikaziOpremuVM
@using FahrradladenPrinzenstraße.Data.EntityModels

@{
    ViewData["Title"] = "Prikaz opreme";
}

<h2>@ViewData["Title"]</h2>
<table class="table table-striped">
    <tr>
        <th> Naziv</th>
        <th>Opis</th>
        <th>Cijena</th>
        <th>Proizvodjac</th>
        <th>Akcija</th>
       
    </tr>


    @foreach (Oprema z in Model.Oprema)
    {
        <tr>

            <td> @z.Naziv</td>
            <td>  @z.Opis</td>
            <td>  @z.Cijena</td>
            <td>@z.Proizvodjac.Naziv </td>
         

            <td>
                @Html.ActionLink("Uredi", "Uredi", new { id = z.OpremaId }, new { @class = "btn btn-default" })




            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Dodaj", "Dodaj", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
<div>
    @Html.ActionLink("Vrati na početnu", "Index")
</div>
