@model FahrradladenPrinzenstraße.Web.ViewModels.PrikaziOpremuVM

@if (Model.PagedResult.RowCount == 0)
{
    <div>Nije pronađeno</div>
}
@foreach (var item in Model.PagedResult.Results)
{

    <div class="row product-item">
        <div class="col-md-4 col-sm-4">
            <a href="/Klijent/Oprema/KupiOprema/@item.OpremaId">
                @if (item.Slika == null || item.Slika.Length < 1000)
                {

                    <img src="/assets/images/default_FP.png" width="262" height="202" alt="Product" class="center-block img-responsive">
                }
                else
                {
                    <img src="data:image/png;base64,@Convert.ToBase64String(item.Slika)" class="center-block img-responsive" />
                }
            </a>
        </div>
        <div class="col-md-8 col-sm-8 text-md-center">
            <div class="product-detail">
                <h3 class="media-heading product-name"><a href="/Klijent/Oprema/KupiOprema/@item.OpremaId">@item.Naziv</a></h3>
                <p class="product-price">
                    <span class="price">
                        @item.Cijena?.ToString("0.00") KM
                    </span>
                </p>
                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div><!-- /.product-detail -->
            <div class="product-actions">
                <div class="btn-group">
                    <a href="/Klijent/Oprema/KupiOprema/@item.OpremaId" data-id="@item.OpremaId" class="btn btn-secondary strong uppercase btn-add-to-cart"><img src="assets/images/icon-cart.png" alt="" class="icon-btn" /> Dodaj u košaricu</a>
                    <a href="index.php?page=cart" class="btn btn-inverse strong uppercase btn-wishlist"><span data-icon="&#xe030;"></span></a>
                </div>

            </div><!-- /.product-actions -->
        </div><!-- /.col -->
    </div><!-- /.product-item -->

}

@if (Model.PagedResult.RowCount > 0)
{
    <div style="clear: both;">
        <div class="page-section clearfix">
            <ul class="pagination">
                @if (Model.PagedResult.CurrentPage > 1)
                {
                    <li><a href="@Url.Action("Index", new { Page = Model.PagedResult.CurrentPage - 1 })" data-page="@(Model.PagedResult.CurrentPage - 1)">&laquo;</a></li>
                }
                else
                {
                    <li><a href="#">&laquo;</a></li>
                }

                @for (var p = 1; p <= Model.PagedResult.PageCount; p++)
                {
                    @if (p == Model.PagedResult.CurrentPage)
                    {
                        <li class="active">
                            <a href="@Url.Action("Index", new { Page = p })" data-page="@p">@p</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Index", new { Page = p })" data-page="@p">@p</a>
                        </li>
                    }
                }

                @if (Model.PagedResult.CurrentPage < Model.PagedResult.PageCount)
                {
                    <li><a href="@Url.Action("Index", new { Page = Model.PagedResult.PageCount })" data-page="@Model.PagedResult.PageCount">&raquo;</a></li>
                }
                else
                {
                    <li><a href="#">&raquo;</a></li>
                }
            </ul><!-- /.pagination -->
        </div><!-- /.pagination holder-->
    </div>
}