@using FahrradladenPrinzenstraße.Web.Helper;
@{
    Korisnik korisnik = Context.GetLogiraniKorisnik();
    string controllerName = ViewContext.RouteData.Values["Controller"].ToString();
    string actionName = ViewContext.RouteData.Values["Action"].ToString();
    string areaName = ViewContext.RouteData.Values["area"] != null ? ViewContext.RouteData.Values["area"].ToString() : null;
    bool AdminOrZaposlenik = korisnik?.Administrator != null || korisnik?.Zaposlenik != null;
    bool IsHome = areaName == null;
    bool Klijent = korisnik?.Klijent != null;
    double CijenaStavki = Klijent ? Context.GetUkupnoKosarica() : 0;
    double CijenaTermina = Klijent ? Context.GetUkupnaCijenaTermina() : 0;
    int BrojStavki = Klijent ? Context.GetBrojStavkiKosarica() : 0;
    int BrojTermina = Klijent ? Context.GetBrojTerminaKosarica() : 0;
    int NotificationCount = korisnik?.Zaposlenik != null ? Context.GetNotificationCount(true) : 0;
    List<Notifikacija> notifikacije = korisnik?.Zaposlenik != null ? Context.GetNotifications() : null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charGetBrojNotifikacijaset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>@ViewData["Title"] - FP</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <!-- Customizable CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/owl.transitions.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link href="/assets/css/orange.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    @if (AdminOrZaposlenik)
    {
        <link rel="stylesheet" href="~/css/sidebar.css" />
    }
    @if (Klijent)
    {
        <link rel="stylesheet" href="~/css/datepicker.css" />
    }
    @if (korisnik?.Zaposlenik != null && !IsHome)
    {
        <link rel="stylesheet" href="~/assets/css/notification.css" />
        <link rel="stylesheet" href="~/css/chosen/chosen.css" />
    }


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic" rel='stylesheet' type='text/css'>

    <!-- Icons/Glyphs -->
    <link rel="stylesheet" href="/assets/css/elegant-fonts.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="/assets/js/jquery-1.11.0.min.js"></script>

    <!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="@((AdminOrZaposlenik && !IsHome) ? "has-navbar " : "")">
    @if (AdminOrZaposlenik && !IsHome)
    {

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img style="height: 50px; margin-right: 10px; margin-left: 15px;" src="/assets/images/logo.png" /><div style="display: inline-block">
                            Fahrradladen Prinzenstraße
                        </div>

                    </a>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav nav-header-link navbar-right">
                        @if (korisnik != null)
                        {
                            <li><a href="#">Dobrodošli, @korisnik.Ime</a></li>

                            @if (korisnik?.Zaposlenik != null)
                            {
                                <li>
                                    <div class="notification-dropdown dropdown">
                                        <a href="#" role="button" data-toggle="dropdown" data-target="#" class="notification-bell">
                                            <i class="fa fa-bell"></i><span class="counter @(NotificationCount > 0 ? "" : "hidden")">@NotificationCount</span>&nbsp;&nbsp;
                                        </a>

                                        <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">

                                            <div class="notification-heading">
                                                <h4 class="menu-title">Obavijesti</h4><h4 class="menu-title pull-right">Pregledaj sve<i class="glyphicon glyphicon-circle-arrow-right"></i></h4>
                                            </div>
                                            <li class="divider"></li>
                                            <div class="notifications-wrapper">
                                                @foreach (var notification in notifikacije)
                                                {

                                                    <a class="content" asp-controller="Iznajmljivanje" asp-action="Detalji" asp-route-id="@notification.RezervacijaIznajmljenaBiciklaId">

                                                        <div class="notification-item @(notification.IsProcitano ? "read" : "")">
                                                            @if (notification.Tip == TipNotifikacije.Istekao_Termin)
                                                            {
                                                                <h4 class="item-title">@notification.RezervacijaIznajmljenaBicikla.BiciklStanje.Bicikl.PuniNaziv · @notification.DatumVrijeme.ToShortDateString()</h4>
                                                                <p class="item-info">Termin istekao - @notification.RezervacijaIznajmljenaBicikla.Rezervacija.Ime @notification.RezervacijaIznajmljenaBicikla.Rezervacija.Prezime</p>
                                                            }
                                                        </div>

                                                    </a>

                                                }

                                            </div>
                                            <li class="divider"></li>
                                            <div class="notification-footer"><h4 class="menu-title">Pregledaj sve<i class="glyphicon glyphicon-circle-arrow-right"></i></h4></div>
                                        </ul>
                                    </div>

                                </li>

                            }
                            <li><a asp-area="" asp-controller="Autentifikacija" asp-action="Logout"><span class="glyphicon glyphicon-log-out"></span> Odjava</a></li>
                        }
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    }

    <div class="wrapper" style="@((AdminOrZaposlenik && !IsHome) ? "display: flex; width: 100%; align-items: stretch;" : "")">
        @if (AdminOrZaposlenik && !IsHome)
        {
            <nav id="sidebar">

                <div class="custom-menu">
                    <button type="button" id="sidebarCollapse" style="z-index: 100" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                </div>

                @*
                    <div class="sidebar-header">
                        <div class="logo text-md-center">
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                <img style="height: 100px; margin-right: 10px; margin-left: 15px;" src="/assets/images/logo.png" /><div style="display: inline-block">
                                    FP
                                </div>
                            </a>
                        </div><!-- /.logo -->

                    </div> *@

                <ul class="list-unstyled components">
                    @if (korisnik?.Administrator != null)
                    {

                        <p>Admin Panel</p>

                        <li class="@(controllerName == "Bicikl" ? "active":  "")"><a href="/Admin/Bicikl/Index">Bicikl</a></li>
                        <li class="@(controllerName == "Boja" ? "active":  "")"><a href="/Admin/Boja/Index">Boja</a></li>
                        <li class="@(controllerName == "Dio" ? "active":  "")"><a href="/Admin/Dio/Index">Dijelovi</a></li>
                        <li class="@(controllerName == "Grad" ? "active":  "")"><a href="/Admin/Grad/Index">Grad</a></li>
                        <li class="@(controllerName == "Lokacija" ? "active":  "")"><a href="/Admin/Lokacija/Index">Lokacija</a></li>
                        <li class="@(controllerName == "Model" ? "active":  "")"><a href="/Admin/Model/Index">Model</a></li>
                        <li class="@(controllerName == "Oprema" ? "active":  "")"><a href="/Admin/Oprema/Index">Oprema</a></li>
                        <li class="@(controllerName == "Proizvodjac" ? "active":  "")"><a href="/Admin/Proizvodjac/Index">Proizvođač</a></li>
                        <li class="@(controllerName == "Servis" ? "active":  "")"><a href="/Admin/Servis/Index">Servis</a></li>
                        <li class="@(controllerName == "StarosnaGrupa" ? "active":  "")"><a href="/Admin/StarosnaGrupa/Index">Starosna Grupa</a></li>
                        <li class="@(controllerName == "VelicinaOkvira" ? "active":  "")"><a href="/Admin/VelicinaOkvira/Index">Veličina Okvira</a></li>
                        <li class="@(controllerName == "Zaposlenik" ? "active":  "")"><a href="/Admin/Zaposlenik/Index">Zaposlenik</a></li>
                    }

                    @if (korisnik?.Zaposlenik != null)
                    {

                        <p>Zaposlenik Panel</p>

                        <li class="@(controllerName == "Servis" ? "active":  "")"><a href="/Zaposlenik/Servis/Index">Servis</a></li>
                        <li class="@(controllerName == "Termini" ? "active":  "")"><a href="/Zaposlenik/Termini/Index">Termini servisa</a></li>
                        <li class="@(controllerName == "Bicikl" ? "active":  "")"><a href="/Zaposlenik/Bicikl/Index">Bicikl</a></li>
                        <li class="@(controllerName == "Dio" ? "active":  "")"><a href="/Zaposlenik/Dio/Index">Dijelovi</a></li>
                        <li class="@(controllerName == "Oprema" ? "active":  "")"><a href="/Zaposlenik/Oprema/Index">Oprema</a></li>
                    }


                    @*
                                dropdown exam

                            <li class="active">
                            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Bicikl</a>
                            <ul class="collapse list-unstyled" id="homeSubmenu">
                                <li>
                                    <a href="#">Home 1</a>
                                </li>
                                <li>
                                    <a href="#">Home 2</a>
                                </li>
                                <li>
                                    <a href="#">Home 3</a>
                                </li>
                            </ul>
                        </li>*@

                </ul>
            </nav>
        }

        <!-- ============================================================= HEADER ============================================================= -->
        <div style="width: 100%;">

            <header class="header">

                <div class="container">
                    <div class="row">
                        @if (IsHome || !AdminOrZaposlenik)
                        {
                            <div class="col-md-3 col-sm-3 hidden-xs site-name">
                                Fahrradladen Prinzenstraße
                            </div>
                        }
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <!-- ============================================================= LOGO ============================================================= -->
                            @if (IsHome || !AdminOrZaposlenik)
                            {

                                <h3 style="margin: 0;">
                                    <div class="logo text-md-center">
                                        <a asp-area="" asp-controller="Home" asp-action="Index">
                                            <img src="/assets/images/logo_FP.png" />
                                        </a>
                                    </div><!-- /.logo -->

                                </h3>
                            }
                            else
                            {
                                <h2 id="admin_header_placeholder"></h2>
                            }
                            <!-- ============================================================= LOGO : END ============================================================= -->
                        </div><!-- /.col -->

                        @if (!AdminOrZaposlenik || IsHome)
                        {
                            @*<div class="col-md-3 col-sm-3 col-xs-12">
                                    <!-- ============================================================= SEARCH BAR ============================================================= -->

                                    <form role="form" class="block-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="Pretraga" placeholder="Search..">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary-very-light search-button" type="button"><span class="icon glyphicon glyphicon-search"></span></button>
                                            </span>
                                        </div><!-- /input-group -->
                                    </form><!-- /block-search -->
                                    <!-- ============================================================= SEARCH BAR : END  ============================================================= -->
                                </div>*@<!-- /.col -->

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <!-- ============================================================= BLOCK HEADER LINKS ============================================================= -->
                                <!-- ============================================================= BLOCK HEADER LINKS : END ============================================================= -->
                            </div><!-- /.col -->
                        }
                    </div><!-- /.row -->
                </div><!-- /.container -->
                <!-- ============================================================= NAVBAR PRIMARY ============================================================= -->
                <nav class="yamm navbar navbar-primary animate-dropdown" id="main-navbar" role="navigation" style="@(IsHome || !AdminOrZaposlenik ? "" : "display: none;")">
                    <div class="container">
                        <div class="navbar-header">
                            <button id="btn-navbar-primary-collapse" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div><!-- /.navbar-header -->
                        <div class="collapse navbar-collapse" id="navbar-primary-collapse">
                            <ul class="nav navbar-nav">
                                <li><a asp-area="" asp-controller="Home" asp-action="Index">Početna</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Bicikli</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="yamm-content">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <span class="megamenu-title">Kupovina</span>
                                                        <ul class="menu-items">
                                                            <li><a asp-area="" asp-controller="Bicikli" asp-action="Index" asp-route-stanje="Novo">Novi&nbsp;bicikli</a></li>
                                                            <li><a asp-area="" asp-controller="Bicikli" asp-action="Index" asp-route-stanje="Polovno">Polovni&nbsp;bicikli</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <span class="megamenu-title">Iznajmljivanje</span>
                                                        <ul class="menu-items">
                                                            <li><a asp-area="" asp-controller="Iznajmljivanje" asp-action="Index">Rezerviši&nbsp;termin</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Servisi</a>

                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="yamm-content">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <span class="megamenu-title">Termini</span>
                                                        <ul class="menu-items">

                                                            <li><a asp-area="" asp-controller="Servisi" asp-action="Index">Rezerviši&nbsp;termin</a></li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Dijelovi</a>

                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="yamm-content">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <span class="megamenu-title">Kupovina</span>
                                                        <ul class="menu-items">

                                                            <li><a asp-area="" asp-controller="Dijelovi" asp-action="Index">Kupovina&nbsp;dijelova</a></li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>



                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Oprema</a>

                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="yamm-content">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <span class="megamenu-title">Kupovina</span>
                                                        <ul class="menu-items">

                                                            <li><a asp-area="" asp-controller="Oprema" asp-action="Index">Kupovina&nbsp;opreme</a></li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                @if (korisnik?.Administrator != null)
                                {
                                    <li class="dropdown">
                                        <a href="#" data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle">Admin</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/Admin/Bicikl/Index">Bicikl</a></li>
                                            <li><a href="/Admin/Boja/Index">Boja</a></li>
                                            <li><a href="/Admin/Dio/Index">Dio</a></li>
                                            <li><a href="/Admin/Grad/Index">Grad</a></li>
                                            <li><a href="/Admin/Lokacija/Index">Lokacija</a></li>
                                            <li><a href="/Admin/Model/Index">Model</a></li>
                                            <li><a href="/Admin/Oprema/Index">Oprema</a></li>
                                            <li><a href="/Admin/Proizvodjac/Index">Proizvođač</a></li>
                                            <li><a href="/Admin/Servis/Index">Servis</a></li>
                                            <li><a href="/Admin/StarosnaGrupa/Index">Starosna Grupa</a></li>
                                            <li><a href="/Admin/VelicinaOkvira/Index">Veličina Okvira</a></li>
                                            <li><a href="/Admin/Zaposlenik/Index">Zaposlenik</a></li>
                                        </ul>
                                    </li>
                                }
                            </ul><!-- /.nav -->
                            <div class="navbar-right user-options">
                                @*<div class="btn-group">
                                        <button data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle btn btn-primary-very-light navbar-btn">USD <b class="caret"></b></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">EUR</a></li>
                                            <li><a href="#">INR</a></li>
                                        </ul>
                                    </div>*@<!-- /.btn-group -->
                                @*<div class="btn-group">
                                        <button data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle btn btn-primary-very-light navbar-btn">EN <b class="caret"></b></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">DE</a></li>
                                            <li><a href="#">TA</a></li>
                                        </ul>
                                    </div>*@<!-- /.btn-group -->

                                <div class="block-header-links">
                                    <ul class="nav nav-header-link pull-right">



                                        @if (korisnik?.Klijent != null)
                                        {
                                            <li>

                                                <a href="/Klijent/Korpa/Stavke" style="padding-top: 5px; padding-bottom: 0;">
                                                    Korpa: <span class="total-cart-amount">
                                                        <span>@CijenaStavki.ToString("0.00") KM</span>
                                                    </span>
                                                </a>
                                                <a href="/Klijent/Termin/Stavke" style="padding-top: 0; padding-bottom: 0;">
                                                    Termini: <span class="total-termin-amount">
                                                        <span>@CijenaTermina.ToString("0.00") KM</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>

                                                <a href="/Klijent/Korpa/Stavke" data-disable-toggle="modal" data-target=".myCart-modal-lg">
                                                    <img src="/assets/images/icon-cart.png" class="icon-cart" width="20" height="18" alt="Cart Icon" /> <span class="cart-items-count">@BrojStavki</span>
                                                </a>
                                            </li>
                                            <li>


                                                <a href="/Klijent/Termin/Stavke">
                                                    <img src="/assets/images/icon-calendar.png" class="icon-calendar" width="24" height="24" alt="Calendar Icon" /> <span class="calendar-items-count">@BrojTermina</span>
                                                </a>
                                            </li>
                                        }

                                        @if (korisnik != null)
                                        {

                                            <li class="dropdown">
                                                <a href="#" data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle">Dobrodošli, @korisnik.Ime <span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    @if (AdminOrZaposlenik)
                                                    {
                                                        if (korisnik.Zaposlenik != null)
                                                        {
                                                            <li><a href="/Zaposlenik/Servis">Dashboard</a></li>

                                                        }
                                                        else
                                                        {
                                                            <li><a href="/Admin/Bicikl">Dashboard</a></li>

                                                        }

                                                    }
                                                    else
                                                    {
                                                        <li><a href="/Klijent/Profil">Profil</a></li>
                                                        <li><a href="/Klijent/Rezervacije">Rezervacije</a></li>
                                                    }
                                                    <li><a asp-area="" asp-controller="Autentifikacija" asp-action="Logout"><span class="glyphicon glyphicon-log-out"></span> Odjava</a></li>
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {

                                            <li><a asp-area="" asp-controller="Registracija" asp-action="Index"><span class="glyphicon glyphicon-user"></span> Registracija</a></li>
                                            <li><a asp-area="" asp-controller="Autentifikacija" asp-action="Index"><span class="glyphicon glyphicon-log-in"></span> Prijava</a></li>
                                        }

                                    </ul><!-- /.nav-header-link -->
                                </div><!-- /.block-header-links -->

                            </div><!-- /.navbar-right -->
                        </div><!-- /.collapse navbar-collapse -->
                    </div><!-- /.container -->
                </nav><!-- /.yamm -->
                <!-- ============================================================= NAVBAR PRIMARY : END ============================================================= -->
            </header><!-- /.header -->
            <!-- ============================================================= HEADER : END ============================================================= -->
            <!-- ============================================================= MODAL ============================================================= -->
            <div class="modal fade myCart-modal-lg" id="myCart" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content cart-modal-content">
                        <div class="modal-header">
                            <a class="close close-icon" data-dismiss="modal"><span data-icon="M"></span></a>
                            <h2 class="modal-title"><span class="icon glyphicon glyphicon-shopping-cart"></span>your cart-4 items</h2>
                        </div><!-- /.modal-header -->
                        <div class="modal-body">
                            <ul class="list-unstyled">
                                <li>
                                    <div class="basket-item">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-3">
                                                <div class="selected-item">@*<img src="/assets/images/products/product-small-01.jpg" alt="">*@</div>
                                                <div class="selected-item-price">$1000.00</div>
                                            </div><!-- /.col-->
                                            <div class="col-md-8 col-sm-8">
                                                <h4>Adipiscing Elit,Sed do Eiusmod</h4>
                                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  eiusmod tempor incididunt ut labore</p>
                                            </div><!-- /.col -->
                                            <div class="col-md-1 col-sm-1">
                                                <a class="cart-item-remove" title="cancel" href="#">
                                                    <span data-icon="M"></span>
                                                </a>
                                            </div><!-- /.col -->
                                        </div><!-- /.row -->
                                    </div><!-- /.basket-item -->
                                </li>

                                <li>
                                    <div class="basket-item">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-3">
                                                <div class="selected-item">@*<img src="/assets/images/products/product-small-02.jpg" alt="">*@</div>
                                                <div class="selected-item-price">$1000.00</div>
                                            </div><!-- /.col -->
                                            <div class="col-md-8 col-sm-8">
                                                <h4>Do euismod tempor incididunt ut</h4>
                                                <p> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud</p>
                                            </div><!-- /.col -->
                                            <div class="col-md-1 col-sm-1">
                                                <a class="cart-item-remove" title="cancel" href="#">
                                                    <span data-icon="M"></span>
                                                </a>
                                            </div><!-- /.col -->
                                        </div><!-- /.row -->
                                    </div><!-- /.basket-item -->
                                </li>
                            </ul><!-- /.list-unstyled -->

                            <div class="row">
                                <div class="product-actions">
                                    <a href="index.php?page=detail" class="btn btn-secondary btn-ky">Total:$2000.00</a>
                                    <a href="index.php?page=checkout" class="btn btn-inverse btn-ky">Continued to checkout</a>
                                </div><!-- /.product-actions -->
                            </div><!-- /.row -->
                        </div><!-- /.modal-body -->
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <!-- ============================================================= MODAL : END ============================================================= -->
            <div class="content">

                @if (controllerName == "Home")
                {
                    @RenderBody()

                }
                else
                {
                    <div class="container">
                        <!-- ========================================= CONTENT ========================================= -->
                        @RenderBody()
                        <!-- ========================================= CONTENT : END  ========================================= -->
                    </div><!-- /.container -->
                }
            </div><!-- /.content -->

        </div>
        <!-- ============================================================= FOOTER ============================================================= -->

        @if (IsHome || !AdminOrZaposlenik)
        {
            <footer class="footer">

                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <!-- ============================================================= FOLLOW US FOOTER ============================================================= -->
                            <div class="module widget">
                                <div class="module-header">
                                    <h4 class="module-title text-md-center">Follow Us</h4>
                                </div><!-- /.module-header -->
                                <div class="module-body text-md-center">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-6">
                                            <p>Lorem ipsum dolor sit amet</p>
                                            <ul class="list-social-icons">
                                                <li><a href="https://facebook.com/transvelo"><span data-icon="&#xe093;"></span></a></li>
                                                <li><a href="#"><span data-icon="&#xe094;"></span></a></li>
                                                <li><a href="#"><span data-icon="&#xe095;"></span></a></li>
                                                <li><a href="#"><span data-icon="&#xe096;"></span></a></li>
                                                <li><a href="#"><span data-icon="&#xe09b;"></span></a></li>
                                            </ul><!-- /.list-social-icons -->
                                        </div><!-- /.col -->
                                        <div class="col-md-12 col-sm-6">
                                            <address>
                                                Lorem ipsum dolor sit amet<br />
                                                <strong>KYBully PSD</strong><br />
                                                108 ABC, New York, USA <br />
                                                (+00)-000-0000-000
                                            </address>
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->
                                </div><!-- /.module-body -->
                            </div><!-- /.module -->
                            <!-- ============================================================= FOLLOW US FOOTER : END ============================================================= -->
                        </div><!-- /.col -->

                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-md-12 col-sm-6">
                                    <!-- ============================================================= NEWSLETTER FOOTER ============================================================= -->
                                    <div class="module block-newsletter">
                                        <div class="module-header">
                                            <h4 class="module-title text-md-center">Newsletter</h4>
                                        </div><!-- /.module-header -->
                                        <div class="module-body text-md-center">
                                            <p>Lorem ipsum dolor sit amet</p>
                                            <form role="form">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="yourname@email.com" autocomplete="off">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default" type="button"><span data-icon="&#x45;"></span></button>
                                                    </span>
                                                </div><!-- /input-group -->
                                            </form>
                                        </div><!-- /.module-body -->
                                    </div><!-- /.module -->
                                    <!-- ============================================================= NEWSLETTER FOOTER : END ============================================================= -->
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                        </div><!-- /.col -->

                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <!-- ============================================================= SHIPPING DELIVERY FOOTER ============================================================= -->
                            <div class="module">
                                <div class="module-header">
                                    <h4 class="module-title text-md-center">Shipping &amp; Delivery</h4>
                                </div><!-- /.module-header -->
                                <div class="module-body text-md-center">
                                    <p>Lorem ipsum dolor sit amet</p>
                                    <ul class="list-link">
                                        <li><a href="index.php?page=category">Consectetur adipisicing elit, sed do eiusmod</a></li>
                                        <li><a href="index.php?page=category">Tempor incididunt ut labore et dolore</a></li>
                                        <li><a href="index.php?page=category">Magna aliqua. Ut enim ad minim</a></li>
                                        <li><a href="index.php?page=category">Veniam, quis nostrud exercitation</a></li>
                                        <li><a href="index.php?page=category">Ullamco laboris nisi ut aliquip ex ea</a></li>
                                    </ul><!-- /.list-link -->
                                </div><!-- /.module-body -->
                            </div><!-- /.module -->
                            <!-- ============================================================= SHIPPING DELIVERY FOOTER :END ============================================================= -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container -->

                <div class="navbar navbar-footer">
                    <!-- ============================================================= NAVBAR FOOTER ============================================================= -->
                    <div class="container text-md-center">
                        <ul class="navbar-nav nav hidden-sm hidden-xs">
                            <li><a href="index.php?page=home">Home</a></li>
                            <li><a href="index.php?page=contact">Contact</a></li>
                            <li><a href="index.php?page=checkout">Shipping</a></li>
                            <li><a href="index.php?page=contact">FAQs</a></li>
                        </ul><!-- /.navbar-nav -->
                        <p class="navbar-text pull-right text-md-center copyright-text">copyright &copy; 2020 FP</p>
                    </div><!-- /.container -->
                    <!-- ============================================================= NAVBAR FOOTER : END ============================================================= -->
                </div><!-- /.navbar -->

            </footer>
        }
        <!-- ============================================================= FOOTER END  ============================================================= -->
    </div><!-- /.wrapper -->
    <!-- JavaScripts placed at the end of the document so the pages load faster -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap-select.min.js"></script>
    <script src="/assets/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="/assets/js/bootstrap-slider.js"></script>
    <script src="/assets/js/echo.min.js"></script>
    <script src="/assets/js/jquery.easing-1.3.min.js"></script>
    <script src="/assets/js/flatui-controls.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/scripts.js"></script>

    <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


    @if (Klijent)
    {
        <script src="~/js/datepicker.js"></script>
        <script src="~/js/datepicker.en.js"></script>
    }
    else if (korisnik?.Zaposlenik != null)
    {
        <script src="~/js/chosen.jquery.js"></script>

    }

    @RenderSection("Scripts", required: false)
</body>
</html>
