@using FahrradladenPrinzenstraße.Web.Helper;
@{
    Korisnik korisnik = Context.GetLogiraniKorisnik();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>@ViewData["Title"] - FP</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <!-- Customizable CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/owl.transitions.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link href="/assets/css/orange.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic" rel='stylesheet' type='text/css'>

    <!-- Icons/Glyphs -->
    <link rel="stylesheet" href="/assets/css/elegant-fonts.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <script src="/assets/js/jquery-1.11.0.min.js"></script>

    <!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>


    <div class="wrapper">
        <!-- ============================================================= HEADER ============================================================= -->
        <header class="header">

            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <!-- ============================================================= LOGO ============================================================= -->
                        <h3>
                            <div class="logo text-md-center" style="margin-top: 8px; margin-bottom: 8px;">
                                <a asp-area="" asp-controller="Home" asp-action="Index">
                                    <img style="height: 80px; margin-right: 10px;" src="/assets/images/logo.png" /><div style="display: inline-block">
                                        Fahrradladen Prinzenstraße
                                    </div>
                                </a>
                            </div><!-- /.logo -->

                        </h3>
                        <!-- ============================================================= LOGO : END ============================================================= -->
                    </div><!-- /.col -->

                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <!-- ============================================================= SEARCH BAR ============================================================= -->
                        <form role="form" class="block-search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search..">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary-very-light search-button" type="button"><span class="icon glyphicon glyphicon-search"></span></button>
                                </span>
                            </div><!-- /input-group -->
                        </form><!-- /block-search -->
                        <!-- ============================================================= SEARCH BAR : END  ============================================================= -->
                    </div><!-- /.col -->

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- ============================================================= BLOCK HEADER LINKS ============================================================= -->
                        <div class="block-header-links">
                            <ul class="nav nav-header-link pull-right">
                                @if (korisnik != null)
                                {
                                    <li><a href="#">Dobrodošli, @korisnik.Ime @korisnik.Prezime</a></li>

                                    <li><a asp-area="" asp-controller="Autentifikacija" asp-action="Logout"><span class="glyphicon glyphicon-log-out"></span> Odjava</a></li>
                                }
                                @if (korisnik?.Administrator != null)
                                {

                                }
                                else if (korisnik?.Zaposlenik != null)
                                {

                                }
                                else if (korisnik?.Klijent != null)
                                {
                                    <li><a href="index.php?page=cart">Wishlist</a></li>
                                    <li><a href="index.php?page=cart">Total: <span class="total-cart-amount">$200.00</span></a></li>
                                }
                                else
                                {

                                    <li><a asp-area="" asp-controller="Registracija" asp-action="Index"><span class="glyphicon glyphicon-user"></span> Registracija</a></li>
                                    <li><a asp-area="" asp-controller="Autentifikacija" asp-action="Index"><span class="glyphicon glyphicon-log-in"></span> Prijava</a></li>
                                }
                            </ul><!-- /.nav-header-link -->
                        </div><!-- /.block-header-links -->
                        <!-- ============================================================= BLOCK HEADER LINKS : END ============================================================= -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
                @if (korisnik?.Klijent != null)
                {
                <a class="btn-shopping-cart hidden-xs" href="#" data-toggle="modal" data-target=".myCart-modal-lg"><img src="/assets/images/icon-cart.png" class="icon-cart" width="20" height="18" alt="Cart Icon" /><span class="cart-items-count">5</span></a>
                }
            </div><!-- /.container -->
            <!-- ============================================================= NAVBAR PRIMARY ============================================================= -->
            <nav class="yamm navbar navbar-primary animate-dropdown" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button id="btn-navbar-primary-collapse" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div><!-- /.navbar-header -->
                    <div class="collapse navbar-collapse" id="navbar-primary-collapse">
                        <ul class="nav navbar-nav">
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Početna</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Bicikli</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="yamm-content">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <span class="megamenu-title">Kupovina</span>
                                                    <ul class="menu-items">
                                                        <li><a asp-area="" asp-controller="Home" asp-action="Index" asp-route-stanje="Nova">Novi&nbsp;bicikli</a></li>
                                                        <li><a  asp-area="" asp-controller="Home" asp-action="Index" asp-route-stanje="Polovna">Polovni&nbsp;bicikli</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <span class="megamenu-title">Iznajmljivanje</span>
                                                    <ul class="menu-items">
                                                        <li><a href="index.php?page=category">Rezerviši&nbsp;termin</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Servisi</a>

                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="yamm-content">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <span class="megamenu-title">Termini</span>
                                                    <ul class="menu-items">
                                                       
                                                        <li><a asp-area="" asp-controller="Home" asp-action="Index" asp-route-stanje="Polovna">Rezerviši&nbsp;termin</a></li>
                                                    </ul>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>

<li class="hidden-sm"><a href="index.php?page=category">Dijelovi</a></li>
                            <li><a href="index.php?page=category">Oprema</a></li>
                            <li class="dropdown">
                                <a href="#" data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle">Pages</a>
                                <ul class="dropdown-menu">
                                    <li><a href="index.php?page=home">Home Page</a></li>
                                    <li><a href="index.php?page=category">Category</a></li>
                                    <li><a href="index.php?page=detail">Individual Product</a></li>
                                    <li><a href="index.php?page=cart">Cart Summary</a></li>
                                    <li><a href="index.php?page=checkout">Checkout</a></li>
                                    <li><a href="index.php?page=404">404</a></li>
                                    <li><a href="index.php?page=contact">Contact</a></li>
                                </ul>
                            </li>
                        </ul><!-- /.nav -->
                        @*<div class="navbar-right user-options">
            <div class="btn-group">
                <button data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle btn btn-primary-very-light navbar-btn">USD <b class="caret"></b></button>
                <ul class="dropdown-menu">
                    <li><a href="#">EUR</a></li>
                    <li><a href="#">INR</a></li>
                </ul>
            </div><!-- /.btn-group -->
            <div class="btn-group">
                <button data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle btn btn-primary-very-light navbar-btn">EN <b class="caret"></b></button>
                <ul class="dropdown-menu">
                    <li><a href="#">DE</a></li>
                    <li><a href="#">TA</a></li>
                </ul>
            </div><!-- /.btn-group -->
        </div><!-- /.navbar-right -->*@
                    </div><!-- /.collapse navbar-collapse -->
                </div><!-- /.container -->
            </nav><!-- /.yamm -->
            <!-- ============================================================= NAVBAR PRIMARY : END ============================================================= -->
        </header><!-- /.header -->
        <!-- ============================================================= HEADER : END ============================================================= -->
        <!-- ============================================================= MODAL ============================================================= -->
        <div class="modal fade myCart-modal-lg" id="myCart" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content cart-modal-content">
                    <div class="modal-header">
                        <a class="close close-icon" data-dismiss="modal"><span data-icon="M"></span></a>
                        <h2 class="modal-title"><span class="icon glyphicon glyphicon-shopping-cart"></span>your cart-4 items</h2>
                    </div><!-- /.modal-header -->
                    <div class="modal-body">
                        <ul class="list-unstyled">
                            <li>
                                <div class="basket-item">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3">
                                            <div class="selected-item">@*<img src="/assets/images/products/product-small-01.jpg" alt="">*@</div>
                                            <div class="selected-item-price">$1000.00</div>
                                        </div><!-- /.col-->
                                        <div class="col-md-8 col-sm-8">
                                            <h4>Adipiscing Elit,Sed do Eiusmod</h4>
                                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  eiusmod tempor incididunt ut labore</p>
                                        </div><!-- /.col -->
                                        <div class="col-md-1 col-sm-1">
                                            <a class="cart-item-remove" title="cancel" href="#">
                                                <span data-icon="M"></span>
                                            </a>
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->
                                </div><!-- /.basket-item -->
                            </li>

                            <li>
                                <div class="basket-item">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3">
                                            <div class="selected-item">@*<img src="/assets/images/products/product-small-02.jpg" alt="">*@</div>
                                            <div class="selected-item-price">$1000.00</div>
                                        </div><!-- /.col -->
                                        <div class="col-md-8 col-sm-8">
                                            <h4>Do euismod tempor incididunt ut</h4>
                                            <p> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud</p>
                                        </div><!-- /.col -->
                                        <div class="col-md-1 col-sm-1">
                                            <a class="cart-item-remove" title="cancel" href="#">
                                                <span data-icon="M"></span>
                                            </a>
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->
                                </div><!-- /.basket-item -->
                            </li>
                        </ul><!-- /.list-unstyled -->

                        <div class="row">
                            <div class="product-actions">
                                <a href="index.php?page=detail" class="btn btn-secondary btn-ky">Total:$2000.00</a>
                                <a href="index.php?page=checkout" class="btn btn-inverse btn-ky">Continued to checkout</a>
                            </div><!-- /.product-actions -->
                        </div><!-- /.row -->
                    </div><!-- /.modal-body -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- ============================================================= MODAL : END ============================================================= -->
        <div class="content">

            <div class="container">
                <!-- ========================================= CONTENT ========================================= -->
                @RenderBody()
                <!-- ========================================= CONTENT : END  ========================================= -->
            </div><!-- /.container -->
        </div><!-- /.content -->
        <!-- ============================================================= FOOTER ============================================================= -->
        <footer class="footer">

            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <!-- ============================================================= FOLLOW US FOOTER ============================================================= -->
                        <div class="module widget">
                            <div class="module-header">
                                <h4 class="module-title text-md-center">Follow Us</h4>
                            </div><!-- /.module-header -->
                            <div class="module-body text-md-center">
                                <div class="row">
                                    <div class="col-md-12 col-sm-6">
                                        <p>Lorem ipsum dolor sit amet</p>
                                        <ul class="list-social-icons">
                                            <li><a href="https://facebook.com/transvelo"><span data-icon="&#xe093;"></span></a></li>
                                            <li><a href="#"><span data-icon="&#xe094;"></span></a></li>
                                            <li><a href="#"><span data-icon="&#xe095;"></span></a></li>
                                            <li><a href="#"><span data-icon="&#xe096;"></span></a></li>
                                            <li><a href="#"><span data-icon="&#xe09b;"></span></a></li>
                                        </ul><!-- /.list-social-icons -->
                                    </div><!-- /.col -->
                                    <div class="col-md-12 col-sm-6">
                                        <address>
                                            Lorem ipsum dolor sit amet<br />
                                            <strong>KYBully PSD</strong><br />
                                            108 ABC, New York, USA <br />
                                            (+00)-000-0000-000
                                        </address>
                                    </div><!-- /.col -->
                                </div><!-- /.row -->
                            </div><!-- /.module-body -->
                        </div><!-- /.module -->
                        <!-- ============================================================= FOLLOW US FOOTER : END ============================================================= -->
                    </div><!-- /.col -->

                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-12 col-sm-6">
                                <!-- ============================================================= NEWSLETTER FOOTER ============================================================= -->
                                <div class="module block-newsletter">
                                    <div class="module-header">
                                        <h4 class="module-title text-md-center">Newsletter</h4>
                                    </div><!-- /.module-header -->
                                    <div class="module-body text-md-center">
                                        <p>Lorem ipsum dolor sit amet</p>
                                        <form role="form">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="yourname@email.com" autocomplete="off">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button"><span data-icon="&#x45;"></span></button>
                                                </span>
                                            </div><!-- /input-group -->
                                        </form>
                                    </div><!-- /.module-body -->
                                </div><!-- /.module -->
                                <!-- ============================================================= NEWSLETTER FOOTER : END ============================================================= -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.col -->

                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <!-- ============================================================= SHIPPING DELIVERY FOOTER ============================================================= -->
                        <div class="module">
                            <div class="module-header">
                                <h4 class="module-title text-md-center">Shipping &amp; Delivery</h4>
                            </div><!-- /.module-header -->
                            <div class="module-body text-md-center">
                                <p>Lorem ipsum dolor sit amet</p>
                                <ul class="list-link">
                                    <li><a href="index.php?page=category">Consectetur adipisicing elit, sed do eiusmod</a></li>
                                    <li><a href="index.php?page=category">Tempor incididunt ut labore et dolore</a></li>
                                    <li><a href="index.php?page=category">Magna aliqua. Ut enim ad minim</a></li>
                                    <li><a href="index.php?page=category">Veniam, quis nostrud exercitation</a></li>
                                    <li><a href="index.php?page=category">Ullamco laboris nisi ut aliquip ex ea</a></li>
                                </ul><!-- /.list-link -->
                            </div><!-- /.module-body -->
                        </div><!-- /.module -->
                        <!-- ============================================================= SHIPPING DELIVERY FOOTER :END ============================================================= -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container -->

            <div class="navbar navbar-footer">
                <!-- ============================================================= NAVBAR FOOTER ============================================================= -->
                <div class="container text-md-center">
                    <ul class="navbar-nav nav hidden-sm hidden-xs">
                        <li><a href="index.php?page=home">Home</a></li>
                        <li><a href="index.php?page=contact">Contact</a></li>
                        <li><a href="index.php?page=checkout">Shipping</a></li>
                        <li><a href="index.php?page=contact">FAQs</a></li>
                    </ul><!-- /.navbar-nav -->
                    <p class="navbar-text pull-right text-md-center copyright-text">copyright &copy; 2020 FP</p>
                </div><!-- /.container -->
                <!-- ============================================================= NAVBAR FOOTER : END ============================================================= -->
            </div><!-- /.navbar -->

        </footer>
        <!-- ============================================================= FOOTER END  ============================================================= -->
    </div><!-- /.wrapper -->
    <!-- JavaScripts placed at the end of the document so the pages load faster -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap-select.min.js"></script>
    <script src="/assets/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="/assets/js/bootstrap-slider.js"></script>
    <script src="/assets/js/echo.min.js"></script>
    <script src="/assets/js/jquery.easing-1.3.min.js"></script>
    <script src="/assets/js/flatui-controls.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/scripts.js"></script>

    <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
