@model DodajZaposlenikaVM
@{
    ViewData["Title"] = "Dodaj zaposlenika";
}

<h2>@ViewData["Title"]</h2>

<form action="/Admin/Zaposlenik/Dodaj" method="post">

    <table>
        <tbody>
            <tr>
                <td>Ime:</td>
                <td>@Html.TextBoxFor(x => x.Ime, new { @class = "form-control" })</td>
                <td>@Html.ValidationMessageFor(x => x.Ime)</td>
            </tr>
            <tr>
                <td>Prezime:</td>
                <td>@Html.TextBoxFor(x => x.Prezime, new { @class = "form-control" })</td>
                <td>@Html.ValidationMessageFor(x => x.Prezime)</td>
            </tr>
            <tr>
                <td>Korisnicko ime:</td>
                <td>@Html.TextBoxFor(x => x.KorisnickoIme, new { @class = "form-control" })</td>
                <td>@Html.ValidationMessageFor(x => x.KorisnickoIme)</td>
            </tr>
            <tr>
                <td>Lozinka:</td>
                <td>@Html.PasswordFor(x => x.Lozinka, new { @class = "form-control" })</td>
                <td>@Html.ValidationMessageFor(x => x.Lozinka)</td>
            </tr>
            <tr>
                <td>Lozinka:</td>
                <td>@Html.PasswordFor(x => x.LozinkaPotvrda, new { @class = "form-control" })</td>
                <td>@Html.ValidationMessageFor(x => x.LozinkaPotvrda)</td>
            </tr>
            <tr>
                <td>Aktivan:</td>
                <td>@Html.CheckBoxFor(x => x.Aktivan)</td>
            </tr>
            <tr>
                <td>Spol:</td>
                <td>
                    @Html.DropDownListFor(x => x.Spol, Model.Spolovi, "Odaberite spol", new
                    {
                        @class = "form-control"
                })
                </td>
                <td>@Html.ValidationMessageFor(x => x.Spol)</td>
            </tr>

            <tr>
                <td>Telefon: </td>
                <td>@Html.TextBoxFor(x => x.BrojTelefona, new { @class = "form-control" })</td>
                <td>@Html.ValidationMessageFor(x => x.BrojTelefona)</td>
            </tr>
            <tr>
                <td>Email: </td>
                <td>@Html.TextBoxFor(x => x.Email, new { @class = "form-control" })</td>
                <td>@Html.ValidationMessageFor(x => x.Email)</td>
            </tr>
            <tr>
                <td>Adresa:</td>
                <td>@Html.TextBoxFor(x => x.AdresaStanovanja, new { @class = "form-control" })</td>
                <td>@Html.ValidationMessageFor(x => x.AdresaStanovanja)</td>
            </tr>



            <tr>
                <td>Grad:</td>
                <td>
                    @Html.DropDownListFor(x => x.GradId, Model.Gradovi, "Odaberite grad:", new
                    {
                        @class = "form-control"
            })
                </td>
                <td>@Html.ValidationMessageFor(x => x.GradId)</td>
            </tr>

        </tbody>
    </table>

    <button type="submit" class="btn btn-success">Snimi</button>
</form>


