@model FahrradladenPrinzenstraße.Web.ViewModels.PrikaziServisVM

@if (Model.PagedResult.RowCount == 0)
{
    <div>Nije pronađeno</div>
}
@foreach (var item in Model.PagedResult.Results)
{

    <div class="product-item-column col-md-4 col-sm-4 col-xs-12 col-lg-4">
        <div class="product-item-grid-view">
            <div class="product-item">
                <div class="product-image">
                    <a href="/Klijent/Servis/OdaberiTermin/@item.ServisId">

                        @if (true)
                        {

                            <img src="/assets/images/default_FP.png" width="262" height="202" alt="Product" class="center-block img-responsive">
                        }
                        @*else
                        {
                            <img src="data:image/png;base64,@Convert.ToBase64String(item.Slika)" class="center-block img-responsive" />
                        }*@


                    </a>
                </div><!-- /.product-image -->
                <div class="product-detail text-md-center">
                    <h3 class="product-name"><a href="/Klijent/Servis/OdaberiTermin/@item.ServisId">@item.Naziv</a></h3>
                    <p class="product-price">
                            <span class="price">
                                @item.Cijena.ToString("0.00") KM
                            </span>
                    </p>
                    <div class="product-actions">
                        <div class="btn-group">
                            <a href="/Klijent/Servis/OdaberiTermin/@item.ServisId" data-id="@item.ServisId" class="btn btn-secondary strong uppercase btn-add-to-cart"><img src="assets/images/icon-cart.png" alt="" class="icon-btn" /> Odaberi termin</a>
                            <a href="index.php?page=cart" class="btn btn-inverse strong uppercase btn-wishlist"><span data-icon="&#xe030;"></span></a>
                        </div>

                    </div><!-- /.product-actions -->
                </div><!-- /.product-detail -->
            </div><!-- /.product-item -->
        </div><!-- /.product-item-grid-view -->
    </div><!-- /.product-item-column -->


}

@if (Model.PagedResult.RowCount > 0)
{
    <div style="clear: both;">
        <div class="page-section clearfix">
            <ul class="pagination">
                @if (Model.PagedResult.CurrentPage > 1)
                {
                    <li><a href="@Url.Action("Index", new { Page = Model.PagedResult.CurrentPage - 1 })" data-page="@(Model.PagedResult.CurrentPage - 1)">&laquo;</a></li>
                }
                else
                {
                    <li><a href="#">&laquo;</a></li>
                }

                @for (var p = 1; p <= Model.PagedResult.PageCount; p++)
                {
                    @if (p == Model.PagedResult.CurrentPage)
                    {
                        <li class="active">
                            <a href="@Url.Action("Index", new { Page = p })" data-page="@p">@p</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Index", new { Page = p })" data-page="@p">@p</a>
                        </li>
                    }
                }

                @if (Model.PagedResult.CurrentPage < Model.PagedResult.PageCount)
                {
                    <li><a href="@Url.Action("Index", new { Page = Model.PagedResult.PageCount })" data-page="@Model.PagedResult.PageCount">&raquo;</a></li>
                }
                else
                {
                    <li><a href="#">&raquo;</a></li>
                }
            </ul><!-- /.pagination -->
        </div><!-- /.pagination holder-->
    </div>
}