@model PotvrdaNarudzbeVM
@{
    ViewData["Title"] = "Potvrda narudzbe";
    var errorMessage = TempData["error_message"];
}

<h2 class="page-title text-md-center">
    @ViewData["Title"] -
    @if (Model.Stavke.Count == 1)
    {
        <span>1 stavka</span>
    }
    else if (Model.Stavke.Count >= 2 && Model.Stavke.Count <= 4)
    {
        <span>@Model.Stavke.Count stavke</span>
    }
    else
    {
        <span>@Model.Stavke.Count stavki</span>
    }
</h2>

@*<p class="page-subtitle text-md-center">Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim</p>*@
@if(errorMessage != null)
{
<div class="alert alert-danger">
    @errorMessage
</div>
}

<div class="page-section">
    <ul class="order-steps nav nav-pills nav-justified">
        <li><a href="/Klijent/Korpa/Stavke">Pregled Stavki</a></li>
        <li class="active"><a href="#">Potvrda Narudžbe</a></li>
        <li><a href="#">Kraj</a></li>
    </ul><!-- /.order steps -->
</div><!-- /.page section -->

<div class="page-section">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-md-push-8">
            <div class="section">
                <h4 class="section-title">Sažetak narudžbe</h4>
                <table class="table table-bordered table-order-summary">
                    <tr>
                        <th>Artikli</th>
                        <td>@Model.Stavke.Count stavki</td>
                    </tr>
                    <tr>
                        <th>Predračun</th>
                        <td><span class="price">@Model.Osnovica.ToString("0.00") KM</span></td>
                    </tr>
                    <tr>
                        <th>Porez</th>
                        <td><span class="price">@Model.UkupnoPoreza.ToString("0.00") KM</span></td>
                    </tr>
                    @if (Model.BrojKupljenihProizvoda == 0)
                    {
                        <tr>
                            <th>Poštarina</th>
                            <td><span class="price"><span id="postarina_iznos">@Model.Postarina.ToString("0.00")</span> KM</span></td>
                        </tr>
                    }
                    <tr>
                        <th>Ukupno</th>
                        <td>
                            <span class="price">
                                <span id="ukupni_iznos" data-iznos-bez-postarine="@((Model.Osnovica + Model.UkupnoPoreza).ToString("0.00"))">
                                    @Model.UkupniIznos.ToString("0.00")
                                </span> KM
                            </span>
                        </td>
                    </tr>
                </table><!-- /.table-order-summary -->
            </div><!-- /.section -->
        </div>

        <div class="col-md-8 col-sm-8 col-md-pull-4">
            <form class="checkout-form" action="/Klijent/Korpa/PotvrdaNarudzbe" method="post">
                <div class="panel-group" id="checkout-accordion">
                    @if (Model.BrojKupljenihProizvoda > 0)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a href="#collapseDescription" data-toggle="collapse" data-parent="#checkout-accordion">
                                        Adresa
                                        <span data-icon="&#x50;" class="expand pull-right"></span>
                                        <span data-icon="&#x4f;" class="contract pull-right"></span>
                                    </a>
                                </h3><!-- /.panel-title -->
                            </div><!-- /.panel-heading -->

                            <div id="collapseDescription" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="first-name" class="required control-label">Ime</label>
                                                <input id="first-name" asp-for="@Model.Podaci.Ime" type="text" placeholder="Ime" class="form-control" required>
                                            </div>
                                        </div><!-- /.col -->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="last-name" class="required control-label">Prezime</label>
                                                <input id="last-name" asp-for="@Model.Podaci.Prezime" type="text" placeholder="Prezime" class="form-control" required>
                                            </div>
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->

                                    <div class="form-group">
                                        <label for="address" class="required control-label">Adresa</label>
                                        <input id="address" asp-for="@Model.Podaci.AdresaStanovanja" type="text" placeholder="Adresa" class="form-control" required>
                                    </div><!-- /.form-group -->

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="town-city" class="required control-label">Grad</label>
                                                <input id="town-city" asp-for="@Model.Podaci.Grad" type="text" placeholder="Grad" class="form-control" required>
                                            </div><!-- /.form-group -->
                                        </div><!-- /.col -->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="state-country" class="required control-label">Općina</label>
                                                <input id="state-country" asp-for="@Model.Podaci.Pokrajina" type="text" placeholder="Općina" class="form-control" required>
                                            </div><!-- /.form-group -->
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="post-code" class="control-label required">Poštanski broj</label>
                                                <input id="post-code" asp-for="@Model.Podaci.PostanskiKod" type="text" placeholder="Poštanski broj" class="form-control" required>
                                            </div><!-- /.form-group -->
                                        </div><!-- /.col -->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="country" class="control-label required">Država</label>
                                                <input id="country" asp-for="@Model.Podaci.Država" type="text" placeholder="Država" class="form-control" required>
                                            </div><!-- /.form-group -->
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="email-address" class="control-label required">Email</label>
                                                <input id="email-address" asp-for="@Model.Podaci.Email" type="email" placeholder="Email" class="form-control" required>
                                            </div><!-- /.form-group -->
                                        </div><!-- /.col -->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="phone-number" class="control-label required">Broj telefona</label>
                                                <input id="phone-number" asp-for="@Model.Podaci.BrojTelefona" type="tel" placeholder="Broj telefona" class="form-control" required>
                                            </div><!-- /.form-group -->
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->

                                    <div class="form-group text-right">
                                        <a data-parent="#checkout-accordion" href="#collapseShipping" class="btn btn-primary btn-lg uppercase strong" id="continue_nacinotpreme">Dalje</a>
                                    </div><!-- /.form-group -->
                                </div><!-- /.panel-body -->
                            </div><!-- /.panel-collapse  -->
                        </div><!-- /.panel-default -->

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a href="#collapseShipping" data-toggle="collapse" data-parent="#checkout-accordion" class="collapsed item-nacin-otpreme">
                                        Način Otpreme
                                        <span data-icon="&#x50;" class="expand pull-right"></span>
                                        <span data-icon="&#x4f;" class="contract pull-right"></span>
                                    </a>
                                </h3><!-- /.panel-title -->
                            </div><!-- /.panel-heading -->
                            <div id="collapseShipping" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table table-delivery-option">
                                        <thead>
                                            <tr>
                                                <th colspan="3">Odabrite način otpreme</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var nacin in Model.NaciniOtpreme)
                                            {
                                                <tr>
                                                    <td class="text-center">
                                                        <label class="radio">
                                                            @if (nacin.NacinOtpremeId == Model.NacinOtpremeId)
                                                            {
                                                                <input type="radio" class="select-shipping-method" data-cijena="@nacin.Cijena.ToString("0.00")" name="NacinOtpremeId" value="@nacin.NacinOtpremeId" id="NacinOtpremeId_@nacin.NacinOtpremeId" required checked>
                                                            }
                                                            else
                                                            {
                                                                <input type="radio" class="select-shipping-method" data-cijena="@nacin.Cijena.ToString("0.00")" name="NacinOtpremeId" value="@nacin.NacinOtpremeId" id="NacinOtpremeId_@nacin.NacinOtpremeId" required>
                                                            }
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <a class="media">
                                                            <img src="https://placehold.it/64x64" alt="" class="pull-left media-object">
                                                            <div class="media-body">
                                                                <h4 class="media-heading">@nacin.Naziv</h4>
                                                                <p>
                                                                    @nacin.Opis
                                                                </p>
                                                            </div>
                                                        </a>
                                                    </td>
                                                    <td class="text-center">
                                                        <span class="price">@nacin.Cijena.ToString("0.00") KM</span>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table><!-- /table -->

                                    <div class="form-group text-right">
                                        <a data-parent="#checkout-accordion" href="#collapseFeatures" class="btn btn-primary btn-lg uppercase strong" id="continue_nacinplacanja">Dalje</a>
                                    </div><!-- /.form-group -->
                                </div><!-- /.panel-body -->
                            </div><!-- /.panel-collapse -->
                        </div><!-- /.panel-default -->
                    }

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" data-parent="#checkout-accordion" href="#collapseFeatures" class="collapsed item-nacin-placanja">
                                    Način plaćanja
                                    <span data-icon="&#x50;" class="expand pull-right"></span>
                                    <span data-icon="&#x4f;" class="contract pull-right"></span>
                                </a>
                            </h3><!-- /.panel-title -->
                        </div><!-- /.panel-heading -->
                        <div id="collapseFeatures" class="panel-collapse collapse">
                            <div class="panel-body text-justify">
                                <div id="HOOK_PAYMENT">

                                    <p class="payment_module">
                                        <label class="radio">
                                            @if (Model.NacinPlacanja == "onpickup")
                                            {
                                                <input type="radio" name="NacinPlacanja" class="nacin-placanja" value="onpickup" required checked />
                                            }
                                            else
                                            {
                                                <input type="radio" name="NacinPlacanja" class="nacin-placanja" value="onpickup" required />
                                            }
                                            Plaćanje pri preuzimanju / Plaćanje pouzećem
                                        </label>
                                    </p><!-- /.payment_module -->

                                    <p class="payment_module">
                                        <label class="radio">
                                            @if (Model.NacinPlacanja == "online")
                                            {
                                                <input type="radio" name="NacinPlacanja" class="nacin-placanja" value="online" required checked />
                                            }
                                            else
                                            {
                                                <input type="radio" name="NacinPlacanja" class="nacin-placanja" value="online" required />
                                            }
                                            Online plaćanje putem kartice
                                        </label>
                                    </p><!-- /.payment_module -->
                                </div><!-- /#hook_module -->

                                <div class="form-actions text-right">
                                    <button type="submit" class="btn btn-primary uppercase strong btn-lg" id="button_order">Naruči</button>
                                </div><!-- /.form-actions -->
                            </div><!-- /.panel-body -->
                        </div><!-- /.panel-collapse -->
                    </div><!-- /.panel-default -->
                </div><!-- /.panel group -->
            </form><!-- /.checkout form -->
        </div>
    </div>
</div><!-- /.page-section -->


<script>
    function ValidirajCheckoutForm() {
        $('.checkout-form').validate().settings.ignore = ".select-shipping-method, .nacin-placanja";
        return $('.checkout-form').valid();
    }
    function ValidirajNacinOtpreme() {
        var NacinOtpremeId = $('[name="NacinOtpremeId"]:checked').val();
        return NacinOtpremeId !== undefined;
    }
    function ValidirajNacinPlacanja() {
        var NacinPlacanja = $('[name="NacinPlacanja"]:checked').val();
        return NacinPlacanja !== undefined;
    }

    $('.select-shipping-method').change(function () {
        if (!$(this).is(':checked')) {
            return;
        }

        var iznos_bez_postarine = parseFloat($('#ukupni_iznos').data('iznos-bez-postarine'));
        var cijena_odabrane_postarine = parseFloat($(this).data('cijena'));
        var ukupni_iznos = iznos_bez_postarine + cijena_odabrane_postarine;

        $('#ukupni_iznos').html(ukupni_iznos.toFixed(2));
        $('#postarina_iznos').html(cijena_odabrane_postarine.toFixed(2));
    });


    $('#continue_nacinotpreme').on('click', function () {
        if (!ValidirajCheckoutForm()) {
            event.preventDefault();
            return;
        }

        $('.item-nacin-otpreme').trigger('click');
    })
    $('#continue_nacinplacanja').on('click', function () {
        if (!ValidirajNacinOtpreme()) {
            alert('Odaberite način otpreme!')
            return;
        }

        $('.item-nacin-placanja').trigger('click');
    })

    $('#button_order').on('click', function () {
        if (!ValidirajCheckoutForm()) {
            event.preventDefault();
            alert('Lični podaci nisu ispravno uneseni!')
        }
        else if (!ValidirajNacinOtpreme()) {
            event.preventDefault();
            alert('Odaberite način otpreme!')
        }
        else if (!ValidirajNacinPlacanja()) {
            event.preventDefault();
            alert('Odaberite način plaćanja!')
        }

    })

</script>
