@model KorpaStavkeVM
@{
    ViewData["Title"] = "Košarica";
}

<h2 class="page-title text-md-center">@ViewData["Title"] - 
    @if(Model.Stavke.Count == 0)
    {
        <span>Nema stavki</span>
    }
    else if(Model.Stavke.Count == 1)
    {
        <span>1 stavka</span>
    }
    else if(Model.Stavke.Count >= 2 && Model.Stavke.Count <= 4)
    {
        <span>@Model.Stavke.Count stavke</span>
    }
    else
    {
        <span>@Model.Stavke.Count stavki</span>
    }
   </h2>
<p class="page-subtitle text-md-center">Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim</p>

<div class="page-section">
    <ul class="order-steps nav nav-pills nav-justified">
        <li class="active"><a href="index.php?page=cart">Review Cart</a></li>
        <li><a href="index.php?page=checkout">Confirm Payment</a></li>
        <li><a href="#">Finish</a></li>
    </ul><!-- /.order steps -->
</div><!-- /.page section -->

<div class="page-section">
    <div class="row">
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-cart-summary">
                    <thead>
                        <tr>
                            <th>Proizvod</th>
                            <th>Opis</th>
                            <th>Količina</th>
                            <th>Jed. cijena</th>
                            <th></th>
                        </tr><!-- /tr -->
                    </thead><!-- /thead -->
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                @*<form role="form" class="form-coupon-code">
                                    <label class="control-label">Coupon Code</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Coupon Code" autocomplete="off">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button">OK</button>
                                        </span>
                                    </div>
                                </form>*@
                            </td>
                            <td colspan="2">
                                <p class="final-total text-right">
                                    <span class="final-total-text">Total:</span>
                                    <span class="final-total-value">@Context.GetUkupnoKosarica().ToString("0.00") KM</span>
                                </p>
                            </td>
                            <td></td>
                        </tr><!-- /tr -->
                    </tfoot><!-- /tfoot -->
                    <tbody>
                        @foreach (var stavka in Model.Stavke)
                        {
                           
                            <tr>
                                <td colspan="2">
                                    <div class="media">
                                        @if (stavka.Bicikl != null)
                                        {
                                            <a class="pull-left" href="/Klijent/Bicikl/KupiBicikl/@stavka.Bicikl.BiciklId">
                                                @if (stavka.Bicikl.Slika == null || stavka.Bicikl.Slika.Length < 1000)
                                                {

                                                    <img src="/images/default_FP.png" width="262" height="202" alt="Product" class="center-block img-responsive">
                                                }
                                                else
                                                {
                                                    <img src="data:image/png;base64,@Convert.ToBase64String(stavka.Bicikl.Slika)" class="center-block img-responsive" />
                                                }
                                            </a>

                                            <div class="media-body">
                                                <h4 class="product-title">@stavka.Bicikl.PuniNaziv</h4>
                                                <p class="price">@stavka.Bicikl.Cijena.Value.ToString("0.00") KM</p>
                                            </div><!-- /.media-body -->
                                        }


                                    </div><!-- /.media -->
                                </td>
                                <td>
                                    <div class="cart-item-quantity">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button"><span data-icon="&#x4b;"></span></button>
                                            </span>
                                            <input type="text" class="input-kolicina form-control" value="@stavka.Kolicina">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button"><span data-icon="&#x4c;"></span></button>
                                            </span>
                                        </div><!-- /.input-group -->
                                    </div>
                                </td>
                                <td>
                                    <span class="unit-price">@((stavka.Bicikl.Cijena.Value * stavka.Kolicina).ToString("0.00")) KM</span>
                                </td>
                                <td><a href="/Klijent/Korpa/Obrisi/@stavka.KorpaStavkaId" class="cart-item-remove"><span data-icon="&#x4d;"></span></a></td>
                            </tr><!-- /tr -->

                        }
                    </tbody><!-- /tbody -->
                </table><!-- /.table -->
            </div><!-- /.table responsive -->
        </div>
        <div class="col-md-4 authentication">
            @*<div class="page-section no-margin-top">
                <h3 class="section-title">Register Checkout</h3>
                <form role="form">
                    <div class="form-group">
                        <label for="email" class="sr-only">Email Address</label>
                        <input type="text" id="email" class="form-control input-lg" placeholder="Email">
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label for="password" class="sr-only">Password</label>
                        <input type="text" id="password" class="form-control input-lg" placeholder="Password">
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label class="checkbox label-lg"><input type="checkbox"> Remember me</label>
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <button class="btn btn-primary btn-block btn-lg" type="submit">Sign In and Checkout</button>
                    </div><!-- /.form-group -->
                </form>
            </div>*@<!-- /.page section -->
            <div class="page-section">
                @*<h3 class="section-title">New Customer</h3>*@
                <form role="form">
                    @*<div class="form-group">
                        <label for="create-new-account" class="label-lg radio"><input name="new-customer" id="create-new-account" type="radio" /> Create a new account</label>
                        <label for="checkout-guest" class="label-lg radio"><input name="new-customer" id="checkout-guest" type="radio" /> Checkout as Guest</label>
                    </div>*@<!-- /.form-group -->
                    <div class="form-group">
                        <button class="btn btn-primary btn-block btn-lg" type="submit">Continue Checkout</button>
                    </div><!-- /.form-group -->
                </form>
            </div><!-- /.page section -->
        </div>
    </div><!-- /.row-->
</div><!-- /.page-section -->