@model FahrradladenPrinzenstrasse.Web.ViewModels.PrikaziBiciklaZaIznajmitiVM
@{
    ViewData["Title"] = "Rezerviši termin za bicikl";
}


<div class="row">
    <!-- ========================================= CONTENT ========================================= -->
    <div class="col-md-9 col-md-push-3">
        
        <section id="category-products">
            <h2 class="page-title text-md-center">Prikaz</h2>
         
            <div class="page-section wow fadeInUp">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_bicikla_grid">
                        <div class="row">


                        </div><!-- /.row -->
                    </div><!-- /.tab-pane -->


                    <div class="tab-pane" id="tab_bicikla_list">
                        <div class="row">
                            <div class="product-item-list-view">

                            </div><!-- /.product-item-grid-view -->

                        </div><!-- /.row-->
                    </div><!-- /.tab-pane -->

                </div><!-- /.tab-content -->
            </div><!-- /.page-section -->

        </section><!-- /#category-products -->

    </div><!-- /.col-md-9 -->
    <!-- ========================================= CONTENT : END ========================================= -->
    <!-- ========================================= SIDEBAR ========================================= -->
    <div class="col-md-3 col-md-pull-9">
        <form id="filterBiciklForma" class="filterProizvodiForma">
            <aside class="sidebar row">
                <div class="sidebar-section col-sm-4 col-xs-4 col-md-12 col-lg-12">
                    <h4 class="sidebar-title">Način prikaza</h4>
                    <ul class="nav nav-tabs view-switcher" role="tablist" id="myTab">
                        <li class="active"><a href="#tab_bicikla_grid" role="tab" data-toggle="tab"> <span class="glyphicon glyphicon-th"></span></a></li>
                        <li><a href="#tab_bicikla_list" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-th-list"></span></a></li>
                    </ul><!-- /.nav -->
                </div><!-- /.sidebar section -->
                <div class="sidebar-section col-sm-8 col-xs-8 col-md-12 col-lg-12">
                    <h4 class="sidebar-title text-md-center">Poredaj po</h4>
                    <div class="text-md-center">
                        <select name="Poredak" id="sort-by" class="selectpicker sidebar-sort">
                            <option value="1">Nazivu - A-Z</option>
                            <option value="2">Nazivu - Z-A</option>
                            <option value="3">Cijeni - Najvišoj</option>
                            <option value="4">Cijeni - Najnižoj</option>
                        </select>
                    </div>
                </div>
                <div class="sidebar-section col-md-12 col-lg-12 col-sm-12 col-xs-12">

                    <h4 class="sidebar-title text-mute text-md-center">Filter</h4>

                    <section class="category">
                        <h4 class="sidebar-title text-md-center">Nožna kočnica</h4>
                        <ul class="list-checkbox list-unstyled text-md-center">
                            <li><label class="radio"><input type="radio" name="NoznaKocnica" value="-1"> Sve</label></li>
                            <li><label class="radio"><input type="radio" name="NoznaKocnica" value="1"> Da</label></li>
                            <li><label class="radio"><input type="radio" name="NoznaKocnica" value="0"> Ne</label></li>
                        </ul><!-- /.list-checkbox -->
                    </section><!-- /.category -->

                    <section>
                        <h4 class="sidebar-title text-md-center">Proizvođač</h4>
                        <ul class="list-checkbox list-unstyled text-md-center">
                            @foreach (var proizvodjac in Model.Proizvodjaci)
                            {
                                <li><label class="checkbox"><input type="checkbox" name="ProizvodjacId" value="@proizvodjac.ProizvodjacId"> @proizvodjac.Naziv</label></li>
                            }
                        </ul><!-- /.list-checkbox -->
                    </section><!-- /.category -->

                    <section>
                        <h4 class="sidebar-title text-md-center">Veličina okvira</h4>
                        <ul class="list-checkbox list-unstyled text-md-center">
                            @foreach (var velicina in Model.VelicineOkvira)
                            {
                                <li><label class="checkbox"><input type="checkbox" name="VelicinaOkviraId" value="@velicina.VelicinaOkviraId"> @velicina.Naziv</label></li>
                            }
                        </ul><!-- /.list-checkbox -->
                    </section><!-- /.category -->

                    <section class="category">
                        <h4 class="sidebar-title text-md-center">Spolovi bicikla</h4>
                        <ul class="list-checkbox list-unstyled text-md-center">
                            @foreach (var spol in Model.SpoloviBicikla)
                            {
                                <li><label class="checkbox"><input type="checkbox" name="SpolBicikla" value="@spol.ToString()">  @spol.ToString()</label></li>
                            }
                        </ul><!-- /.list-checkbox -->
                    </section><!-- /.category -->

                    <section class="category">
                        <h4 class="sidebar-title text-md-center">Starosne grupe</h4>
                        <ul class="list-checkbox list-unstyled text-md-center">
                            @foreach (var grupa in Model.StarosneGrupe)
                            {
                                <li><label class="checkbox"><input type="checkbox" name="StarosnaGrupaId" value="@grupa.StarosnaGrupaId"> @grupa.Naziv</label></li>
                            }
                        </ul><!-- /.list-checkbox -->
                    </section><!-- /.category -->

                    <section class="category">
                        <h4 class="sidebar-title text-md-center">Suspenzija</h4>
                        <ul class="list-checkbox list-unstyled text-md-center">
                            <li><label class="radio"><input type="radio" name="Suspenzija" value="-1"> Sve</label></li>
                            @foreach (var suspenzija in Model.Suspenzije)
                            {
                                <li><label class="radio"><input type="radio" name="Suspenzija" value="@((int)suspenzija)">  @suspenzija.ToString()</label></li>
                            }
                        </ul><!-- /.list-checkbox -->
                    </section><!-- /.category -->

                    <section class="category">
                        <h4 class="sidebar-title text-md-center">Broj Brzina</h4>
                        <div class="text-md-center">
                            <select name="Brzina" class="selectpicker">
                                <option value="-1">Sve</option>
                                @foreach (var brzina in Model.Brzine)
                                {
                                    <option value="@brzina">@brzina</option>
                                }
                            </select>
                        </div>
                    </section>

                    <section>
                        <h4 class="sidebar-title text-md-center">Boje</h4>
                        <ul class="list-checkbox list-unstyled text-md-center">
                            @foreach (var boja in Model.Boje)
                            {
                                <li><label class="checkbox"><input type="checkbox" name="BojaId" value="@boja.BojaId"> @boja.Naziv</label></li>
                            }
                        </ul><!-- /.list-checkbox -->
                    </section><!-- /.category -->
                    @*<section class="price">
                            <h4 class="sidebar-title text-md-center">Price</h4>
                            <input type="text" class="slider" value="" data-slider-min="0" data-slider-max="20" data-slider-step="5" data-slider-value="10" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="hide">
                        </section>*@<!-- /.price -->
                </div><!-- /.section-section  -->
            </aside><!-- /.sidebar -->
        </form>

    </div><!-- /.col-md-3 -->
    <!-- ========================================= SIDEBAR : END ========================================= -->
</div><!-- /.row -->

<a hidden asp-action="UcitajListuBicikalaZaIznajmiti" id="url_lista_zaIznajmiti"></a>

<script>

    var xhr1, xhr2;

    function ucitajBicikla() {
        var forma = $('#filterBiciklForma');

        var filteri = '?' + forma.serialize();

        if (xhr1 != null)
            xhr1.abort();

        if (xhr2 != null)
            xhr2.abort();

        xhr1 = $.get($('#url_lista_zaIznajmiti').attr('href') + filteri, function (data) {
            $('#tab_bicikla_grid .row').html(data);
        });

        xhr2 = $.get($('#url_lista_zaIznajmiti').attr('href') + filteri + '&PrikaziKaoListu=true', function (data) {
            $('#tab_bicikla_list .product-item-list-view').html(data);
        });

    }

    $("#filterBiciklForma").on('change', 'input,select', function (event) {
        if ($(this).is(':radio') && $(this).prop('checked') == false) {
            return;
        }

        ucitajBicikla();
    });

    $("#category-products").on('click', '.pagination a', function (event) {
        event.preventDefault();

        var forma = $('#filterBiciklForma');

        var new_page = parseInt($(this).data('page'));
        if (isNaN(new_page) || new_page <= 0)
            return;

        var filteri = '?' + forma.serialize();
        filteri += '&Page=' + new_page;

        if (xhr1 != null)
            xhr1.abort();

        if (xhr2 != null)
            xhr2.abort();

        xhr1 = $.get($('#url_lista_zaIznajmiti').attr('href') + filteri, function (data) {
            $('html, body').animate({
                scrollTop: $("#category-products").offset().top - 50
            }, 250);
            $('#tab_bicikla_grid .row').html(data);
        });

        xhr2 = $.get($('#url_lista_zaIznajmiti').attr('href') + filteri + '&PrikaziKaoListu=true', function (data) {
            $('#tab_bicikla_list .product-item-list-view').html(data);
        });

    });

    $(function () {
        ucitajBicikla();
    });

</script>