@model Rezervacija
<h2>Detalji rezervacije #@Model.RezervacijaId</h2>

@if (Model.RezervacijaProdajaBicikla.Any() || Model.RezervacijaProdajaDio.Any() || Model.RezervacijaProdajaOprema.Any())
{
    <h3>Kupljeni proizvodi</h3>
    <table class="table table-light">
        <thead>
            <tr>
                <th>Tip proizvoda</th>
                <th>Naziv</th>
                <th>Ukupna cijena</th>
                <th>Akcija</th>
                <th>Ocjena</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.RezervacijaProdajaBicikla)
            {
                int? ocjena = item.OcjenaKorisnika;

                <tr>
                    <td>Bicikl</td>
                    <td>@item.BiciklStanje.Bicikl.PuniNaziv (@item.BiciklStanje.Bicikl.GodinaProizvodnje, @item.BiciklStanje.Bicikl.Stanje)</td>
                    <td>
                        @item.BiciklStanje.Bicikl.Cijena.Value.ToString("0.00") KM
                    </td>
                    <td>
                        <a href="/Klijent/Bicikl/KupiBicikl/@item.BiciklStanje.BiciklId" class="btn btn-primary">Detalji o proizvodu</a>
                    </td>

                    <td>
                        <div class="rating">
                            @for (int i = 5; i >= 1; i--)
                            {
                                <a asp-action="OcijeniBicikl" asp-route-id="@item.BiciklStanje.BiciklId" asp-route-ocjena="@i" class="@(ocjena >= i ? "trenutnaOcjena" : "")"><span>☆</span></a>
                            }
                        </div>
                    </td>
                </tr>
            }

            @foreach (var item in Model.RezervacijaProdajaDio)
            {
                int? ocjena = item.OcjenaKorisnika;

                <tr>
                    <td>Dio</td>
                    <td>@item.DioStanje.Dio.Naziv</td>
                    <td>
                        @item.DioStanje.Dio.Cijena.ToString("0.00") KM
                    </td>
                    <td>
                        <a href="/Klijent/Dio/KupiDio/@item.DioStanje.DioId" class="btn btn-primary">Detalji o proizvodu</a>
                    </td>

                    <td>
                        <div class="rating">
                            @for (int i = 5; i >= 1; i--)
                            {
                                <a asp-action="OcijeniDio" asp-route-id="@item.DioStanje.DioId" asp-route-ocjena="@i" class="@(ocjena >= i ? "trenutnaOcjena" : "")"><span>☆</span></a>
                            }
                        </div>
                    </td>
                </tr>
            }

            @foreach (var item in Model.RezervacijaProdajaOprema)
            {
                int? ocjena = item.OcjenaKorisnika;
                <tr>
                    <td>Oprema</td>
                    <td>@item.OpremaStanje.Oprema.Naziv</td>
                    <td>
                        @item.OpremaStanje.Oprema.Cijena.ToString("0.00") KM
                    </td>
                    <td>
                        <a href="/Klijent/Oprema/KupiOprema/@item.OpremaStanje.OpremaId" class="btn btn-primary">Detalji o proizvodu</a>
                    </td>

                    <td>
                        <div class="rating">
                            @for (int i = 5; i >= 1; i--)
                            {
                                <a asp-action="OcijeniOpremu" asp-route-id="@item.OpremaStanje.OpremaId" asp-route-ocjena="@i" class="@(ocjena >= i ? "trenutnaOcjena" : "")"><span>☆</span></a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@if (Model.RezervacijaServis.Any())
{
    <h3>Termini za servis</h3>
    <table class="table table-light">
        <thead>
            <tr>
                <th>Tip proizvoda</th>
                <th>Vrsta servisa</th>
                <th>Ukupna cijena</th>
                <th>Termin</th>
                <th>Dodatni troškovi</th>
                <th>Akcija</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.RezervacijaServis)
            {
                <tr data-toggle="collapse" data-target="#servis_detalji_@item.RezervacijaServisId" class="clickable">
                    <td>Servis</td>
                    <td>@item.Servis.Naziv</td>
                    <td>@item.DatumServisiranja.ToShortDateString() @item.DatumServisiranja.ToShortTimeString()</td>
                    <td>
                        @item.Servis.Cijena.ToString("0.00") KM
                    </td>
                    <td>
                        @if (item.DodatniTroskovi != 0)
                        {
                            <span>do @item.DodatniTroskovi.ToString("0.00") KM</span>
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                    <td>
                        <button data-toggle="collapse" data-target="#servis_detalji_@item.RezervacijaServisId" class="btn btn-primary">Detalji</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="noborder nopadding">
                        <div id="servis_detalji_@item.RezervacijaServisId" class="collapse">

                            <div class="form-horizontal">
                                <div class="form-group">

                                    <label class="control-label col-md-1 nopadding">Proizvođač</label>
                                    <div class="col-md-2">
                                        @item.Proizvodjac
                                    </div>


                                    <label class="control-label col-md-1 nopadding">Model</label>
                                    <div class="col-md-2">
                                        @item.Model
                                    </div>

                                </div>

                                <div class="form-group">

                                    <label class="control-label col-md-1 nopadding">Boja</label>
                                    <div class="col-md-2">
                                        @item.Boja
                                    </div>

                                    <label class="control-label col-md-1 nopadding">Tip bicikla</label>
                                    <div class="col-md-2">
                                        @item.Tip
                                    </div>
                                </div>
                                <div class="form-group">

                                    <label class="control-label col-md-1 nopadding">Opis</label>
                                    <div class="col-md-10">
                                        @item.Opis
                                    </div>
                                </div>

                            </div>
                        </div>
                    </td>
                </tr>
            }


        </tbody>
    </table>
}

@if (Model.RezervacijaIznajmljenaBicikla.Any())
{
    <h3>Iznajmljena bicikla</h3>
    <table class="table table-light">
        <thead>
            <tr>
                <th>Tip proizvoda</th>
                <th>Biciklo</th>
                <th>Datum preuzimanja</th>
                <th>Datum vracanja</th>
                <th>Cijena po danu</th>
                <th>Ukupna cijena</th>
                <th>Akcija</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.RezervacijaIznajmljenaBicikla)
            {
                <tr>
                    <td>Biciklo</td>
                    <td>@item.BiciklStanje.Bicikl.PuniNaziv (@item.BiciklStanje.Bicikl.GodinaProizvodnje, @item.BiciklStanje.Bicikl.Stanje)</td>
                    <td>@item.DatumPreuzimanja.ToShortDateString()</td>
                    <td>@item.DatumVracanja.ToShortDateString()</td>
                    <td>
                        @item.BiciklStanje.Bicikl.CijenaPoDanu.Value.ToString("0.00") KM
                    </td>
                    <td>
                        @((item.BiciklStanje.Bicikl.CijenaPoDanu.Value * ((item.DatumVracanja.Date - item.DatumPreuzimanja.Date).Days + 1)).ToString("0.00")) KM
                    </td>
                    <td>
                        <a href="/Klijent/Iznajmi/OdaberiTermin/@item.BiciklStanje.BiciklId" class="btn btn-primary">Detalji o biciklu</a>
                    </td>
                </tr>
            }


        </tbody>
    </table>

}